*{
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar{
    background-color: #1b3052;
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    font-size: 30px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: sticky;
    top: 0;
    
}

a{
    text-decoration: none;
    color: #fff;
}

.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid #000;
    padding: 50px 50px;
    border-radius: 35px;
}

.items{
    display: flex;
    flex-direction: column;
}

.formulario h1{
    font-size: 40px;
    margin-bottom: 25px;
}

.items label{
    font-size: 25px;
    margin-bottom: 7px;
    color: #c9c9c9;
}

.items input{
    font-size:18px;
    border: none;
    outline: none;
    border-bottom: 2px solid #c9c9c9;
}

.items input:focus-within{
    border-bottom: 2.7px solid #000;
    transition: 0.55s ease;
}

.oh, .ah{
    display: flex;
    flex-direction: column;
}

.oh:focus-within label{
    color: #000;
}

.ah:focus-within label{
    color: #000;
}

.items:focus-within .nom{
    color: #000
}

button{
    margin-top: 30px;
    font-size: 28px;
    background-color: #2aaadd;
    border: none;
    border-radius: 25px;
}

button:hover{
    background-color: #004e81;
    color: #fff;
}

i{
    font-size: 30px;
    margin-left: 10px;
}

