body{
    background-image: url("loginfondo.jpg");
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-size: cover;
    background-position: center;
}

.iniciar{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.15);
}

.iniciar h1{
    text-align: center;
    padding: 0 0 10px 0;
    color: #e7e1e1;
    font-size: 40px;
}

.iniciar form{
    padding: 0 40px;
}

form .mail{
    border-bottom: 2px solid #aaa;
}

.mail:focus-within{
    border-bottom: 2px solid #000;
    transition: 0.5s ease;
}

input{
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    padding: 8px 0;
    font-size: 20px;
    color: none;
}

button{
    margin: 15px 0;
    font-size: 25px;
    width: 100%;
    border-radius: 20px;
    background: #fff;
    border: none;
}

button:hover{
    background-color: #3d649eaf;
    color: #fff;
    transition: 0.5s ease;
}

label{
    font-size: 25px;
    color: #aaa;
}
